@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');

html,
body {
  font-family: 'Space Mono';
  margin: 0;
  height: 100%;
  width: 100%;
  color: rgba(0, 0, 0, 87);
}

.app {
  height: 100%;
  width: 100%;
  margin: auto;
}

