$darkBlue: #1F1442;
$teal: #00FFB1;
$magenta: #FF3A80;

$primary: $darkBlue;
$secondary: $teal;
$accent: $magenta;
$trophy: #F4FF00;

// Text
// https://material.google.com/style/color.html#color-text-background-colors
$primary-text-dark: rgba(black, 0.87);
$secondary-text-dark: rgba(black, 0.54);
$disabled-hint-icons-text-dark: rgba(black, 0.38);
$dividers-text-dark: rgba(black, 0.12);

$primary-text-light: rgba(white, 1);
$secondary-text-light: rgba(white, 0.7);
$disabled-hint-icons-text-light: rgba(white, 0.5);
$dividers-text-light: rgba(white, 0.12);